:root {
  background-color: rgb(29, 29, 29);
  color: aliceblue;
}
.movie-poster {
    width: auto; /* Poster width will be the same as the movie-item width */
    height: 400px; /* Maintain aspect ratio */
  }
.movie-item {
  margin-right: 20px; /* Space between items */
  flex-shrink: 0;
}



/* Rest of your CSS remains the same */

.movie-item h4 {
  max-width: 250px;
  white-space: wrap;
  overflow: hidden;
  
}

.movieRow {
  padding: 30px;
}
.movie-list-wrapper {
  position: relative;
}

.movie-list {
  display: flex;
  overflow-x: auto; /* Allows horizontal scrolling */
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */

}

.movie-list::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }


.scroll-hover-area {
    width: 100px; /* Narrow width */
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
  }

  .scroll-hover-area.left {
    left: 0;
  }
  
  .scroll-hover-area.right {
    right: 0;
  } 
  
/* Media query for tablets and smaller screens */
@media (max-width: 1268px) {
  .movie-poster {
    height: 300px; /* Adjust height for smaller screens */
  }

  .movie-item h4 {
    max-width: 200px; /* Adjust width for smaller screens */
  }
  .scroll-hover-area {
    display: none; /* Hide hover areas on touch devices */
  }

  .movie-list {
    overflow-x: scroll; /* Enable scrolling for touch devices */
  }
}

/* Ensure scrollbars are hidden in WebKit browsers */
.movie-list::-webkit-scrollbar {
  display: none;
}

  /* Adjust .movie-list-wrapper, .movie-list, and other styles as needed */


/* Media query for phones */
@media (max-width: 480px) {
  .movie-poster {
    height: 200px; /* Further adjust height for phone screens */
  }

  .movie-item h4 {
    max-width: 150px; /* Further adjust width for phone screens */
  }

  .scroll-hover-area {
    display: none; /* Hide hover areas on touch devices */
  }

  .movie-list {
    overflow-x: scroll; /* Enable scrolling for touch devices */
  }
}

/* Ensure scrollbars are hidden in WebKit browsers */
.movie-list::-webkit-scrollbar {
  display: none;
}
/* Styles for .movie-item and .movie-poster */
