.fullscreen-intro {
    position: fixed; /* Full-screen overlay */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black; /* Or any other color */
    z-index: 1000; /* Ensures it's above everything else */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .fullscreen-logo {
    width: 60%; /* Adjust size as needed */
    height: auto;
    max-width: 600px;
    border-radius: 25px;
     /* Adjust max size as needed */
  }
  
  .intro-page.hidden {
    display: none; /* Hide the intro page content during the logo display */
  }
  
  .loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    background-color: #000000; /* Your preferred background color */
    width: 100%; /* Full width of the parent container */
    max-width: 400px; /* Max width of the form */
    margin: 80px auto; /* Center the form on the page */
    border-radius: 15px;
  }
  
  .loginForm .form-group {
    width: 100%; /* Full width of the parent container */
    margin-bottom: 15px;
  }
  
  .loginForm .form-control {
    height: 40px; /* Adjust as needed */
    padding: 10px;
  }
  
  .loginForm .btn {
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
    background-color: rgb(56, 56, 56);
    border-color: rgb(102, 156, 0);

  }

  .disclaimer {
    margin-top: 10px;
  }
  
  /* Additional styles for other elements like labels, headings, etc. */
  